{% load i18n %}
{% csrf_token %}
<div class="x-form-item " tabindex="-1">
	<label style="width: auto;" class="x-form-item-label">{{ form.name.label }} 
		<span id="error_{{ form.name.html_name }}" style="color:red;" class="x-form-item-label"></span>
	</label>
	
	<div class="x-form-element" style="padding-left: 0pt;">	
	<input id="id_{{ form.name.html_name }}" type="text" maxlength="50" name="{{ form.name.html_name }}" 
		onblur="validateName(this.value, '{{ form.name.html_name }}');">
	
	</div>
<div class="x-form-clear-left"></div>
</div>

<div class="x-form-item " tabindex="-1">
	<label style="width: auto;" class="x-form-item-label">{{ form.type.label }}
		<span id="error_{{ form.type.html_name }}" style="color:red;" class="x-form-item-label"></span>	
	</label>
	<div class="x-form-element" style="padding-left: 0pt;">	
	<select id="id_{{ form.type.html_name }}" name="{{ form.type.html_name }}" 
		onchange="validateType(this.options[this.selectedIndex].value, '{{ form.type.html_name }}');">
		{% for choice in form.type.field.choices %}
		<option value="{{ choice.0 }}">{{ choice.1 }}</option>
		{% endfor %}
	</select>	
	</div>
<div class="x-form-clear-left"></div>
</div>

<label style="font-size: 15px;"><b>{% trans "Coordinates" %}</b><hr></label>

<div class="x-form-item " tabindex="-1">
	<label style="width: auto;" class="x-form-item-label">{{ form.lat.label }}<br/>
		<span id="error_{{ form.lat.html_name }}" style="color:red;" class="x-form-item-label"></span>
	</label>
	<div class="x-form-element" style="padding-left: 0pt;">		
	<input id="id_{{ form.lat.html_name }}" type="text" maxlength="50" name="{{ form.lat.html_name }}" 
		onblur="validateLat(this.value, '{{ form.lat.html_name }}');">
	</div>
<div class="x-form-clear-left"></div>
</div>

<div class="x-form-item " tabindex="-1">
	<label style="width: auto;" class="x-form-item-label">{{ form.lon.label }}<br/>
		<span id="error_{{ form.lon.html_name }}" style="color:red;" class="x-form-item-label"></span>		
	</label>
	<div class="x-form-element" style="padding-left: 0pt;">		
	<input id="id_{{ form.lon.html_name }}" type="text" maxlength="50" name="{{ form.lon.html_name }}" 
		onblur="validateLon(this.value, '{{ form.lon.html_name }}');">
	</div>
<div class="x-form-clear-left"></div>
</div>

<div class="x-form-item " tabindex="-1">
	<label style="width: auto;" class="x-form-item-label">{{ form.note.label }}</label>
	<div class="x-form-element" style="padding-left: 0pt;">		
	{{ form.note }}
	</div>
<div class="x-form-clear-left"></div>
</div>

<label style="font-size: 15px;"><b>{% trans "Photos" %}</b><hr></label>

<div id="multiuploader">
	<input type="hidden" value="1" id="fileCounter" />	

<div class="upload" id="myDiv0">
	<label for="realupload0">{{ form.photo.label }} #1</label>
<div class="fakeupload" id="fakeupload0">
	<input type="text" name="fakeupload0" /><!-- browse button is here as background -->	
</div>
			
<input type="file" name="{{ form.photo.html_name }}" id="realupload0" class="realupload" onchange="this.form.fakeupload0.value=this.value; addFormInput(1);">
</div>

</div>
