.x-tree-title-invisible, .x-tree-ec-icon {
	display: none;
}

#appBaseLayersHolder .x-tree-node-leaf .x-tree-node-icon {
	background-image: none;
}

.x-grid3-cell-inner, .x-grid3-hd-inner { 
	white-space: normal; 
}

.poi .x-window-mr {  
	background-color: transparent;
	opacity: .85;  
}  

.x-window-advertisement {
	background-color: #F5E7C9;
	border: 1px solid #96742B; 
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.buttonStyle button{
	height:22px !important;
}

.buttonStyle .x-btn-text{
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 5px 9px;
}

#appTabs li {
	width: 75px;
}
#appTabs .x-tab-strip-text {
	text-align: center;
}

.upload-icon {
	background: url('/static/icons/image_add.png') no-repeat 0 0;
}
.x-form-file-wrap .x-form-text {
	color: #777777;
	z-index: 3;
}
.x-form-file-wrap .x-form-file-btn {
	float: right;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;

}
.x-form-file-wrap .x-form-file {
	font-size: 100px;
	height: 30px;
	opacity: 0;
	position: absolute;
	right: -5px;
	top: -4px;
	z-index: 2;
}
.x-panel-body{
	overflow-x:hidden !important;
}

a[rel] img {
	padding: 10px;
}

.x-grid3-coordinates {
	cursor: pointer;
}
.x-grid3-no-coordinates {
	cursor: default;
}

.x-window-floating .x-window-body div {
	opacity: 0.75;
	background-color:#FAF982;
	padding: 8px 8px 8px 8px;
	text-align: center;
	font-size: 14px;
}
