.x-tree-title-invisible, .x-tree-ec-icon {
	display: none;
}

.x-grid3-cell-inner, .x-grid3-hd-inner { 
	white-space: normal; 
}

.poi .x-window-mr {  
	background-color: transparent;
	opacity: .85;  
}  

.x-window-advertisement {
	background-color: #F5E7C9;
	border: 1px solid #96742B; 
	opacity: .5;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.buttonStyle .x-btn-text{
	font-weight: bold;
	margin-bottom: 1em;
	padding: 5px 7px;
}
