.x-tree-title-invisible, .x-tree-ec-icon {
	display: none;
}

.x-grid3-cell-inner, .x-grid3-hd-inner { 
	white-space: normal; 
}
	
/* Map Controllers */

.olControlRightToolbar{
	float: right;
	height: 300px;
	top: 10px;
	right: 10px;
	width: 30px;
}

.olControlRightToolbar .olControlMeasureButtonItemInactive {
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/line_off.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlMeasureButtonItemActive {
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/line_on.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlAreaMeasureButtonItemInactive {
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/polygon_off.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlAreaMeasureButtonItemActive {
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/polygon_on.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlClickButtonItemActive{
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/point_on.png");
	background-repeat: no-repeat;
}

.olControlRightToolbar .olControlClickButtonItemInactive{
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/point_off.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlGPXButtonItemInactive {
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/gpx.gif");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlHelpButtonItemInactive {
	cursor: pointer;
	width: 30px;	
	height: 30px;
	margin: 5px;
	background-image: url("/static/icons/help.gif");
	background-repeat: no-repeat;	
}

