.x-grid3-cell-inner { 
	white-space: normal; 
}

#live_tracking_record_header{ 
	font-size:20px; 
}

.x-grid3-cell-first .x-grid3-cell-inner { 
	font-size:13px; 
}

.x-tab-strip-text-down{
	position: relative;
	top: 7px;
}

.x-tree-title-invisible, .x-tree-ec-icon {
	display: none;
}

/*
Controllers
*/

.olControlRightToolbar {
	float: right;
  height: 250px;
	top: 5px;
  right: 5px;
  width: 30px;
	}

.olControlRightToolbar div {
	background-repeat: no-repeat;
  float: right;
  height: 24px;
  margin: 5px;
  width: 24px;	
	}

.olControlRightToolbar .olControlNavigationItemActive { 
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/pan_off.png");
	background-repeat: no-repeat;	
	}

.olControlRightToolbar .olControlLengthButtonItemInactive {
	cursor: pointer;
  margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/draw_line_off.png");
	background-repeat: no-repeat;	
	}

.olControlRightToolbar .olControlLengthButtonItemActive {
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/draw_line_on.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlAreaMeasureButtonItemInactive {
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/draw_polygon_off.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlAreaMeasureButtonItemActive {
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/draw_polygon_on.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlClickButtonItemActive{
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/draw_point_on.png");
	}

.olControlRightToolbar .olControlClickButtonItemInactive{
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/draw_point_off.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlGPXButtonItemInactive {
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/pan_off.png");
	background-repeat: no-repeat;	
}

.olControlRightToolbar .olControlHelpButtonItemInactive {
	cursor: pointer;
	margin: 5px;
	background-image: url("http://openlayers.org/dev/theme/default/img/pan_off.png");
	background-repeat: no-repeat;	
}
